
body {
	color: #444;
	background: #555;
	}
a {
	color: #333;
	text-decoration: none;
	}
a:hover {
	color: #444;
	background: #666;
	}
a:active {
	color: #F93;
	}
em {
	font-style: italic;
	}
strong {
	font-weight: bold;
	}
img, .comment {
	/* center */
	margin-left: auto;
	margin-right: auto;
	}
img {
	border: 2px solid;
	border-color: #444;
	}
h1, h2 {
	font-size: small;
	}
ul, .comment {
	color: #222;
	text-align: left;
	}
ul {
	background: #888;
	}
#text {
	/* center */
	text-align: center;
	margin-top: 1.6em;
	margin-bottom: 2.2em;
	}
.text {
	border: 2px solid;
	border-color: #444;

	/* center */
	margin-left: auto;
	margin-right: auto;

	width: 86%;

	/*font-size: medium;*/
	text-align: left;

	background: #999;
	padding-left: 0.4em;
	padding-bottom: 1.4em;
	}
.text small {
	font-size: small;
	}
.text p {
	margin-left: 0.6em;
	}


#comment {
	/* center */
	text-align: center;
	margin-bottom: 3em;
	}
.comment {
	border: 1px solid;
	border-color: #444;

	/* center */
	margin-left: auto;
	margin-right: auto;

	width: 56%;

	font-size: x-small;
	text-align: left;

	background: #666;
	background: #5E5E5E;
	padding-left: 0.3em;
	}
.comment:hover {
	border: 2px solid;
	background: #777;
	}
h2, .comment p {
	margin: 0.1em;
	}
.comment:hover a {
	font-style: italic;
	}
.comment h2 {
	margin-top: 0.2em;
	}
.comment p {
	margin-bottom: 0.3em;
	}
#nav {
	width: 12%;
	}	/* this is dirty but browsers are stupid */
.nav {
	border: 1px solid;
	border-color: #666;
	}
.nav a {
	color: #888;
	}
.nav a:hover {
	color: #999;
	}
	/* little bug in moz, this is the same value
	*  but it have to be overloaded though in .nav class
	*/
.nav a:active {
	color: #F93;
	color: #5F8;	/* well finaly if it is reattributed, why put the same color? */
	}
#navig {
	/* problème largeur maximisée */
	width: 32%;
	/*text-align: justify;*/
	border: 1px solid;
	border-color: #666;
	margin-left: auto;
	margin-right: auto;
	}
#navig:hover {
	background: #5A5A5A;
	}

.en {
	}
.fr {
	display: none;
	}

